/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* BODY */
body {
  min-height: 100vh;
  background: #8b0000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* MAIN WRAPPER */
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

/* LEFT SECTION */
.left-section {
  width: 60%;
  position: relative;
  color: #ffcc66;
}

.logo-text h1 {
  font-size: 60px;
  font-weight: 800;
}

.logo-text p {
  font-size: 20px;
  font-style: italic;
  margin-top: 5px;
}

/* TICKETS */
.ticket-wrapper {
  margin-top: 40px;
  position: relative;
}

.ticket {
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 30px 70px rgba(0,0,0,0.6);
}

.ticket1 {
  transform: rotate(-10deg);
}

.ticket2 {
  position: absolute;
  top: 120px;
  left: 80px;
  transform: rotate(-5deg);
}

/* RIGHT SIDE LOGIN CARD */
.container {
  width: 400px;
  background: #ffffff;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.5);
}

h2 {
  color: #800000;
  margin-bottom: 15px;
}

/* FORM */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #800000;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #a00000;
}

hr {
  margin: 25px 0;
  border: none;
  height: 1px;
  background: #eee;

  
}
